
evaluation/testset-jsonfile/frame0000.json
evaluation/testset-jsonfile/frame0001.json
evaluation/testset-jsonfile/frame0002.json
evaluation/testset-jsonfile/frame0003.json
evaluation/testset-jsonfile/frame0004.json
evaluation/testset-jsonfile/frame0005.json
evaluation/testset-jsonfile/frame0006.json
evaluation/testset-jsonfile/frame0007.json
evaluation/testset-jsonfile/frame0008.json
evaluation/testset-jsonfile/frame0010.json
evaluation/testset-jsonfile/frame0011.json
evaluation/testset-jsonfile/frame0012.json
evaluation/testset-jsonfile/frame0013.json
evaluation/testset-jsonfile/frame0014.json
evaluation/testset-jsonfile/frame0015.json
evaluation/testset-jsonfile/frame0016.json
evaluation/testset-jsonfile/frame0017.json
evaluation/testset-jsonfile/frame0018.json
evaluation/testset-jsonfile/frame0019.json
evaluation/testset-jsonfile/frame0020.json
evaluation/testset-jsonfile/frame0022.json
evaluation/testset-jsonfile/frame0023.json
evaluation/testset-jsonfile/frame0024.json
evaluation/testset-jsonfile/frame0025.json
evaluation/testset-jsonfile/frame0026.json
evaluation/testset-jsonfile/frame0027.json
evaluation/testset-jsonfile/frame0028.json
evaluation/testset-jsonfile/frame0029.json
evaluation/testset-jsonfile/frame0030.json
evaluation/testset-jsonfile/frame0032.json
evaluation/testset-jsonfile/frame0033.json
evaluation/testset-jsonfile/frame0034.json
evaluation/testset-jsonfile/frame0035.json
evaluation/testset-jsonfile/frame0036.json
evaluation/testset-jsonfile/frame0037.json
evaluation/testset-jsonfile/frame0038.json
evaluation/testset-jsonfile/frame0039.json
evaluation/testset-jsonfile/frame0040.json
evaluation/testset-jsonfile/frame0041.json
evaluation/testset-jsonfile/frame0042.json
evaluation/testset-jsonfile/frame0043.json
evaluation/testset-jsonfile/frame0044.json
evaluation/testset-jsonfile/frame0045.json
evaluation/testset-jsonfile/frame0046.json
evaluation/testset-jsonfile/frame0047.json
evaluation/testset-jsonfile/frame0048.json
evaluation/testset-jsonfile/frame0049.json
evaluation/testset-jsonfile/frame0050.json
evaluation/testset-jsonfile/frame0051.json
evaluation/testset-jsonfile/frame0052.json
evaluation/testset-jsonfile/frame0053.json
evaluation/testset-jsonfile/frame0054.json
evaluation/testset-jsonfile/frame0055.json
evaluation/testset-jsonfile/frame0056.json
evaluation/testset-jsonfile/frame0057.json
evaluation/testset-jsonfile/frame0058.json
evaluation/testset-jsonfile/frame0059.json
evaluation/testset-jsonfile/frame0060.json
evaluation/testset-jsonfile/frame0061.json
evaluation/testset-jsonfile/frame0062.json
evaluation/testset-jsonfile/frame0063.json
evaluation/testset-jsonfile/frame0064.json
evaluation/testset-jsonfile/frame0065.json
evaluation/testset-jsonfile/frame0066.json
evaluation/testset-jsonfile/frame0067.json
evaluation/testset-jsonfile/frame0068.json
evaluation/testset-jsonfile/frame0070.json
evaluation/testset-jsonfile/frame0071.json
evaluation/testset-jsonfile/frame0072.json
evaluation/testset-jsonfile/frame0073.json
evaluation/testset-jsonfile/frame0074.json
evaluation/testset-jsonfile/frame0076.json
evaluation/testset-jsonfile/frame0077.json
evaluation/testset-jsonfile/frame0078.json
evaluation/testset-jsonfile/frame0079.json
evaluation/testset-jsonfile/frame0080.json
evaluation/testset-jsonfile/frame0081.json
evaluation/testset-jsonfile/frame0082.json
evaluation/testset-jsonfile/frame0083.json
evaluation/testset-jsonfile/frame0086.json
evaluation/testset-jsonfile/frame0087.json
evaluation/testset-jsonfile/frame0088.json
evaluation/testset-jsonfile/frame0089.json
evaluation/testset-jsonfile/frame0090.json
evaluation/testset-jsonfile/frame0092.json
evaluation/testset-jsonfile/frame0093.json
evaluation/testset-jsonfile/frame0094.json
evaluation/testset-jsonfile/frame0095.json
evaluation/testset-jsonfile/frame0096.json
evaluation/testset-jsonfile/frame0097.json
evaluation/testset-jsonfile/frame0098.json
evaluation/testset-jsonfile/frame0099.json
evaluation/testset/frame0000.jpg
evaluation/testset/frame0000.json
evaluation/testset/frame0001.jpg
evaluation/testset/frame0001.json
evaluation/testset/frame0002.jpg
evaluation/testset/frame0002.json
evaluation/testset/frame0003.jpg
evaluation/testset/frame0003.json
evaluation/testset/frame0004.jpg
evaluation/testset/frame0004.json
evaluation/testset/frame0005.jpg
evaluation/testset/frame0005.json
evaluation/testset/frame0006.jpg
evaluation/testset/frame0006.json
evaluation/testset/frame0007.jpg
evaluation/testset/frame0007.json
evaluation/testset/frame0008.jpg
evaluation/testset/frame0008.json
evaluation/testset/frame0009.jpg
evaluation/testset/frame0010.jpg
evaluation/testset/frame0010.json
evaluation/testset/frame0011.jpg
evaluation/testset/frame0011.json
evaluation/testset/frame0012.jpg
evaluation/testset/frame0012.json
evaluation/testset/frame0013.jpg
evaluation/testset/frame0013.json
evaluation/testset/frame0014.jpg
evaluation/testset/frame0014.json
evaluation/testset/frame0015.jpg
evaluation/testset/frame0015.json
evaluation/testset/frame0016.jpg
evaluation/testset/frame0016.json
evaluation/testset/frame0017.jpg
evaluation/testset/frame0017.json
evaluation/testset/frame0018.jpg
evaluation/testset/frame0018.json
evaluation/testset/frame0019.jpg
evaluation/testset/frame0019.json
evaluation/testset/frame0020.jpg
evaluation/testset/frame0020.json
evaluation/testset/frame0021.jpg
evaluation/testset/frame0022.jpg
evaluation/testset/frame0022.json
evaluation/testset/frame0023.jpg
evaluation/testset/frame0023.json
evaluation/testset/frame0024.jpg
evaluation/testset/frame0024.json
evaluation/testset/frame0025.jpg
evaluation/testset/frame0025.json
evaluation/testset/frame0026.jpg
evaluation/testset/frame0026.json
evaluation/testset/frame0027.jpg
evaluation/testset/frame0027.json
evaluation/testset/frame0028.jpg
evaluation/testset/frame0028.json
evaluation/testset/frame0029.jpg
evaluation/testset/frame0029.json
evaluation/testset/frame0030.jpg
evaluation/testset/frame0030.json
evaluation/testset/frame0031.jpg
evaluation/testset/frame0032.jpg
evaluation/testset/frame0032.json
evaluation/testset/frame0033.jpg
evaluation/testset/frame0033.json
evaluation/testset/frame0034.jpg
evaluation/testset/frame0034.json
evaluation/testset/frame0035.jpg
evaluation/testset/frame0035.json
evaluation/testset/frame0036.jpg
evaluation/testset/frame0036.json
evaluation/testset/frame0037.jpg
evaluation/testset/frame0037.json
evaluation/testset/frame0038.jpg
evaluation/testset/frame0038.json
evaluation/testset/frame0039.jpg
evaluation/testset/frame0039.json
evaluation/testset/frame0040.jpg
evaluation/testset/frame0040.json
evaluation/testset/frame0041.jpg
evaluation/testset/frame0041.json
evaluation/testset/frame0042.jpg
evaluation/testset/frame0042.json
evaluation/testset/frame0043.jpg
evaluation/testset/frame0043.json
evaluation/testset/frame0044.jpg
evaluation/testset/frame0044.json
evaluation/testset/frame0045.jpg
evaluation/testset/frame0045.json
evaluation/testset/frame0046.jpg
evaluation/testset/frame0046.json
evaluation/testset/frame0047.jpg
evaluation/testset/frame0047.json
evaluation/testset/frame0048.jpg
evaluation/testset/frame0048.json
evaluation/testset/frame0049.jpg
evaluation/testset/frame0049.json
evaluation/testset/frame0050.jpg
evaluation/testset/frame0050.json
evaluation/testset/frame0051.jpg
evaluation/testset/frame0051.json
evaluation/testset/frame0052.jpg
evaluation/testset/frame0052.json
evaluation/testset/frame0053.jpg
evaluation/testset/frame0053.json
evaluation/testset/frame0054.jpg
evaluation/testset/frame0054.json
evaluation/testset/frame0055.jpg
evaluation/testset/frame0055.json
evaluation/testset/frame0056.jpg
evaluation/testset/frame0056.json
evaluation/testset/frame0057.jpg
evaluation/testset/frame0057.json
evaluation/testset/frame0058.jpg
evaluation/testset/frame0058.json
evaluation/testset/frame0059.jpg
evaluation/testset/frame0059.json
evaluation/testset/frame0060.jpg
evaluation/testset/frame0060.json
evaluation/testset/frame0061.jpg
evaluation/testset/frame0061.json
evaluation/testset/frame0062.jpg
evaluation/testset/frame0062.json
evaluation/testset/frame0063.jpg
evaluation/testset/frame0063.json
evaluation/testset/frame0064.jpg
evaluation/testset/frame0064.json
evaluation/testset/frame0065.jpg
evaluation/testset/frame0065.json
evaluation/testset/frame0066.jpg
evaluation/testset/frame0066.json
evaluation/testset/frame0067.jpg
evaluation/testset/frame0067.json
evaluation/testset/frame0068.jpg
evaluation/testset/frame0068.json
evaluation/testset/frame0069.jpg
evaluation/testset/frame0070.jpg
evaluation/testset/frame0070.json
evaluation/testset/frame0071.jpg
evaluation/testset/frame0071.json
evaluation/testset/frame0072.jpg
evaluation/testset/frame0072.json
evaluation/testset/frame0073.jpg
evaluation/testset/frame0073.json
evaluation/testset/frame0074.jpg
evaluation/testset/frame0074.json
evaluation/testset/frame0075.jpg
evaluation/testset/frame0076.jpg
evaluation/testset/frame0076.json
evaluation/testset/frame0077.jpg
evaluation/testset/frame0077.json
evaluation/testset/frame0078.jpg
evaluation/testset/frame0078.json
evaluation/testset/frame0079.jpg
evaluation/testset/frame0079.json
evaluation/testset/frame0080.jpg
evaluation/testset/frame0080.json
evaluation/testset/frame0081.jpg
evaluation/testset/frame0081.json
evaluation/testset/frame0082.jpg
evaluation/testset/frame0082.json
evaluation/testset/frame0083.jpg
evaluation/testset/frame0083.json
evaluation/testset/frame0084.jpg
evaluation/testset/frame0085.jpg
evaluation/testset/frame0086.jpg
evaluation/testset/frame0086.json
evaluation/testset/frame0087.jpg
evaluation/testset/frame0087.json
evaluation/testset/frame0088.jpg
evaluation/testset/frame0088.json
evaluation/testset/frame0089.jpg
evaluation/testset/frame0089.json
evaluation/testset/frame0090.jpg
evaluation/testset/frame0090.json
evaluation/testset/frame0091.jpg
evaluation/testset/frame0092.jpg
evaluation/testset/frame0092.json
evaluation/testset/frame0093.jpg
evaluation/testset/frame0093.json
evaluation/testset/frame0094.jpg
evaluation/testset/frame0094.json
evaluation/testset/frame0095.jpg
evaluation/testset/frame0095.json
evaluation/testset/frame0096.jpg
evaluation/testset/frame0096.json
evaluation/testset/frame0097.jpg
evaluation/testset/frame0097.json
evaluation/testset/frame0098.jpg
evaluation/testset/frame0098.json
evaluation/testset/frame0099.jpg
evaluation/testset/frame0099.json
evaluation/testset/testset/frame0000.json
models/.DS_Store
models/.ipynb_checkpoints/Keras-YOLOv3-checkpoint.ipynb
models/.ipynb_checkpoints/PyTorch-SqueezeNet-checkpoint.ipynb
models/.ipynb_checkpoints/PyTorch-YOLOv3-darknet-checkpoint.ipynb
models/.ipynb_checkpoints/PyTorch-YOLOv3-training-checkpoint.ipynb
models/cfg/.DS_Store
models/cfg/yolov3-tiny.cfg
models/data/.DS_Store
models/data/.gitkeep
models/data/coco/
models/data/get_coco_dataset.sh
models/data/get_OID.sh
models/data/get_OID_2.sh
models/data/validation.zip
models/det/.DS_Store
models/det/.gitkeep
models/dog.jpg
models/img/.DS_Store
models/img/.gitkeep
models/model.h5
models/PyTorch-SqueezeNet.ipynb
models/pytorch-ssd/.DS_Store
models/pytorch-ssd/.ipynb_checkpoints/run_ssd_live_demo-checkpoint.ipynb
models/pytorch-ssd/models/.DS_Store
models/yolov3.weights
evaluation/.DS_Store
models/cfg/yolov3-tiny.cfg
models/data/.gitkeep
models/det/.gitkeep
models/img/.gitkeep
models/cfg/yolov3-tiny.cfg
models/data/.gitkeep
models/det/.gitkeep
models/img/.gitkeep
models/cfg/yolov3-tiny.cfg
models/data/.gitkeep
models/det/.gitkeep
models/img/.gitkeep
